Django==1.5.1
South==1.0.2
amqp==1.4.6
anyjson==0.3.3
argparse==1.2.1
billiard==3.3.0.19
celery==3.1.17
celery-with-redis==3.0
django-celery==3.1.16
django-kombu==0.9.4
kombu==3.0.24
pytz==2014.10
rebar==0.1
redis==2.10.3
selenium==2.45.0
wsgiref==0.1.2
